<p id="notice"><%= notice %></p>

<p>
  <strong><%= Rental.human_attribute_name(:name) %>:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:price) %>:</strong>
  <%= @rental.price %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:address) %>:</strong>
  <%= @rental.address %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:age) %>:</strong>
  <%= @rental.age %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:note) %>:</strong>
  <%= @rental.note %>
</p>

<%= link_to t('application.common.edit'), edit_rental_path(@rental) %> |
<%= link_to t('application.common.back'), rentals_path %>
