<p id="notice"><%= notice %></p>

<p>
  <strong><%= Rental.human_attribute_name(:name) %>:</strong>
  <%= @rental.name %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:price) %>:</strong>
  <%= number_to_currency(@rental.price) %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:address) %>:</strong>
  <%= @rental.address %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:age) %>:</strong>
  <%= "#{@rental.age}#{t('datetime.prompts.year')}" %>
</p>

<p>
  <strong><%= Rental.human_attribute_name(:note) %>:</strong>
  <%= @rental.note %>
</p>

<hr>

<% @rental.stations.each.with_index(1) do |station, i| %>
  <h2><%= "#{Station.model_name.human}#{i}" %></h2>
  <p>
    <strong><%= Station.human_attribute_name(:route_name) %>:</strong>
    <%= station.route_name %>
  </p>

  <p>
    <strong><%= Station.human_attribute_name(:name) %>:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong><%= Station.human_attribute_name(:walk_time) %>:</strong>
    <%= "#{station.walk_time}#{t('datetime.prompts.minute')}" %>
  </p>
<% end %>

<%= link_to t('application.common.edit'), edit_rental_path(@rental) %> |
<%= link_to t('application.common.back'), rentals_path %>
